@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Irish+Grover&display=swap');

.App {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: "Irish Grover", system-ui;
    letter-spacing: 1px;
    font-weight: bold;
}

.App.light {
    color: #34495e;
    background-color: #f4f7f7;
}

.App.dark {
    color: #8ecccc;
    background-color: black;
}

.App.bolt {
    color: #d8d7d7;
    background-color: #ffe700;
}

.HeaderContainer {
    height: 120px;
}

.HeaderContainer.light {
    background-color:  #aacfd0;
}

.HeaderContainer.dark {
    background-color:  #3a4042;
}

.HeaderContainer.bolt {
    background-color:  #613864;
}

.CanvasContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 30px 0;
}

.CanvasContainer .light {
    background-color:  #f4f7f7;
}

.CanvasContainer .dark {
    background-color:   black;
}

.CanvasContainer .bolt {
    background-color:   #ffe700;
}

.FooterContainer {
    height: 80px;
}

.FooterContainer .light {
    background-color:  #5da0a2;
}

.FooterContainer .dark {
    background-color: #3a4042;
}

.FooterContainer .bolt {
    background-color: #fe4e6e;
}

@media screen and (max-width: 1350px) {
    .CanvasContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .CanvasContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 786px) {
    .HeaderContainer {
        height: 160px;
    }

    .FooterContainer {
        height: 60px;
    }
}
