@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Irish+Grover&display=swap');

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    font-family: "Irish Grover", system-ui;
    letter-spacing: 1px;
    font-weight: bold;
}

.App .light {
    color: #34495e;
    background-color: #f4f7f7;
}

.App .dark {
    color: #8ecccc;
    background-color: black;
}

.App .bolt {
    color: #d8d7d7;
    background-color: #ffe700;
}

.HeaderContainer, .CanvasContainer, .FooterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderContainer {
    height: 120px;
    flex: 0 0 auto;
}

.HeaderContainer .light {
    background-color:  #aacfd0;
}

.HeaderContainer .dark {
    background-color:  #3a4042;
}

.HeaderContainer .bolt {
    background-color:  #613864;
}

.CanvasContainer {
    flex: 1; 
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.CanvasContainer .light {
    background-color:  #f4f7f7;
}

.CanvasContainer .dark {
    background-color:   black;
}

.CanvasContainer .bolt {
    background-color:   #ffe700;
}

.FooterContainer {
    height: 80px;
    flex: 0 0 auto;
}

.FooterContainer .light {
    background-color:  #5da0a2;
}

.FooterContainer .dark {
    background-color: #3a4042;
}

.FooterContainer .bolt {
    background-color: #fe4e6e;
}

@media screen and (max-width: 1300px) {
    .CanvasContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (max-width: 786px) {
    .HeaderContainer {
        height: 170px;
    }

    .FooterContainer {
        height: 60px;
    }
}
