.MainCanvas canvas {
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.MainCanvas.light canvas {
    border: 5px solid #34495e;
}

.MainCanvas.dark canvas {
    border: 5px solid black;
}

.MainCanvas.bolt canvas {
    border: 5px solid #613864;
}

.MainCanvas #Image1 {
    display: none;
}

.MainCanvas #Image2 {
    display: none;
}

.MainCanvas #Image3 {
    display: none;
}

.MainCanvas #Image4 {
    display: none;
}

.MainCanvas #Image5 {
    display: none;
}

.MainCanvas #Image6 {
    display: none;
}